# Code owners for glia.
# These owners are automatically requested for review on matching PRs.
# Docs: https://docs.github.com/articles/about-code-owners

# Default owner for everything in the repo.
*       @AgustinCastanol
